


*{
    padding: 0;
    margin: 0;
}
.header{
    margin-top: 60px;
    margin-bottom: 60px;
}
.header-title{
    background:green;
    padding: 10px;
    border-radius: 60px;
}
.header-title h6{
    color:#fff;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    line-height: 1;
}
.preloader{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
    row-gap: 15px;
}
.preloader-area{
    width: 400px;
    height: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.preloader-area span{
    text-align: center;
    position: absolute;
}
.load-content{
    width: 80px;
    height: 80px;
    border-top: 3px solid red;
    border-left: 3px solid red;
    border-radius: 100%;

    animation: loading 1s linear infinite;
}
@keyframes loading{
    0%{
        transform: rotate(0deg);
        transition: 0.5s;
    }
    100%{
        transform: rotate(360deg);
        transition: 0.5s;
    }
}



.load-content1{
    width: 80px;
    height: 80px;
    border-top: 3px solid red;
    border-left: 3px solid red;
    border-radius: 100%;
    transform: rotate(100deg);

    animation: loading1 2s linear infinite;
}
.load-content2{
    width: 70px;
    height: 70px;
    border-top: 3px solid blue;
    border-left: 3px solid blue;

    border-radius: 100%;
    position: absolute;

    animation: loading2 2s linear infinite;
}
.load-content3{
    width: 90px;
    height: 90px;
    border-top: 3px solid green;
    border-left: 3px solid green;
    transform: rotate(230deg);
    border-radius: 100%;
    position: absolute;

    animation: loading2 2s linear infinite;
}

@keyframes loading1{
    0%{
        transform: rotate(0deg);
        transition: 0.5s;
    }
    100%{
        transform: rotate(360deg);
        transition: 0.5s;
    }
}

@keyframes loading2{
    0%{
        transform: rotate(0deg);
        transition: 0.5s;
    }
    100%{
        transform: rotate(-360deg);
        transition: 0.5s;
    }
}
@keyframes loading3{
    0%{
        transform: rotate(0deg);
        transition: 0.5s;
    }
    100%{
        transform: rotate(-360deg);
        transition: 0.5s;
    }
}

.load-content4{
    width: 80px;
    height: 80px;
    border-top: 8px solid red;
    border-bottom: 8px solid green;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    position: relative;
    
    
    /* transform: rotate(180deg); */

    animation: loading1 2s linear infinite;
}
.load-content4::after{
    content: '';
    position: absolute;
    top: -6px;
    width: 80px;
    height: 80px;
    border-top: 8px solid red;
    border-bottom: 8px solid green;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    transform: rotate(90deg);
    
    
    /* transform: rotate(180deg); */

    animation: loading1 2s linear;
}
.load-content5{
    width: 75px;
    height: 75px;
    border: 20px dotted red;
    border-radius: 100%;
    
    

    animation: loading1 2s linear infinite;
}


.section-1{
    margin-bottom: 80px;
}
.calculator{
    width: 400px;
    height: 600px;
    margin: auto;
    background-color: rgb(225, 245, 249);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#display{
    width: 90%;
    height: 60px;
    display: block;
    margin: auto;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    border: 5px solid #d3d5d3;
    margin-bottom: 30px;
    background: white;
}
#display:focus{
    outline: none;
}
.btn11{
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
}
.btn11 input{
    padding: 10px;
    border: none;
    margin: 5px;
    display: block;
    border-radius: 5px;
    background-color: rgb(247, 162, 247);
}
.btn11 input:hover{
    background: none !important;
    color: black !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}




.in-area{
    width: 600px;
    background-color: #0F90EC;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
}
.in-area h1{
    font-size: 100px;
    font-weight: 600;
    color: white;
}
.in-area button{
    padding: 10px 30px;
    font-size: 18px;
    background-color: #06c53f;
    color: #fff;
    border: none;
    margin:10px;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.5s;
    letter-spacing: 1px;
}
.in-area button:hover{
    background-color: #ed06a0;
    transition: 0.5s;
}
.btn-area{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 20px;

}
.btn-area button{
    padding: 12px 15px;
    border: none;
    font-size: 18px;
    background-color: #ed06a0;
    color: #fff;
}
.hide-area{
    position: relative;
    padding: 30px;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hide-area h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: 20px;
}
.hide-area p{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.7;
    margin-bottom: 40px;
}
.btn2{
    padding: 12px 20px;
    border: none;
    font-size: 18px;
    background-color: #ed06a0;
    color: #fff;
    border-radius: 8px;
}
#close{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    font-weight: bold;
    color: red;
    cursor: pointer;
    border: none;
    background: none;
    padding:none;
    border-radius: none !important;
    padding: 0 3px;
}



.section-4{
    background-color: #FFC0CB;
    padding: 80px 0;
}
.love-area{
    padding: 40px;
    box-shadow: #BF7280 10px 10px 24px 0px inset, #BF7280 -10px -10px 6px 1px inset;
    width: 700px;
    margin: auto;
    border-radius: 20px;
}
.love-area i{
    font-size: 60px;
    color: red;
}
.love-area h3{
    text-transform:uppercase;
    font-weight: bold;
    color: #D8395E;
}
.love-area input{
    border: 3px solid #D8395E;
    margin:0 5px;
    padding: 5px 12px;
    text-transform:uppercase;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: #D8395E;
}
.love-area form input:focus{
    outline: none;
}
#calculat{
        display: block;
        margin: auto;
        background-color: #D6365C;
        border: none;
        color: white;
        padding: 12px 60px;
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 18px;
}
.re-result{
    width: 400px;
    text-align: center;
    background-color: #D6365C;
    color: #fff;
    border: none;
    padding: 8px 50px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin: auto;
}

#lovecoment{
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 20px;
}
.section5{
    background:linear-gradient(135deg, #8052ec, #d161ff);
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
}
.wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 330px;
    margin: auto;
    column-gap: 10px;
    row-gap: 10px;
}
.button-option{
    background-color: #ffffff;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 8px;
    font-size: 60px;
    font-weight: 600;
    color: #D6365C;
    text-transform: uppercase;
}


.section6{
    background:linear-gradient(135deg, #1a0842, #09444e);
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
}

.clock-area{
    width: 340px;
    border:1px solid #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
    padding: 15px 10px;
    margin: auto;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 0.01));
    
}
.clock-area:hover{
    background: #2E94E3;
}
.date{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #fff;
}
.time{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;

}
.copy{
    margin-bottom: 0 !important;
    padding: 16px;
    font-size: 20px;
}
.footer span{
    color: red;
    font-weight: bold;
}



@media screen and (max-width:767px) {
    .preloader{
        display: grid;
        grid-template-columns: auto;
    }
    .love-area{
        width: 500px;
    }

}